/* Globalne style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background: #ff7b81; /* Ciepły różowy kolor tła */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Cień wokół kontenera */
}

.card {
    padding: 40px;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ff4081;
}

p {
    font-size: 1.2rem;
    color: #555;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ff4081;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień przycisku */
}

.btn:hover {
    background-color: #f50057;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(0.95);
}

.btn-no {
    background-color: #ff6f61;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    .btn {
        width: 100%; /* Szerokość przycisku na mniejszych ekranach */
    }
}
